In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "names" : ['John','Tom','Rob','Harry','Jack','Jeff','Sam'],
    "salary" : [45000,48000,19000,42000,25000,28000,34000],
    "dept" : ['IT','IT','HR','HR','IT','HR','IT']
}

In [3]:
pd.Series(data)

names              [John, Tom, Rob, Harry, Jack, Jeff, Sam]
salary    [45000, 48000, 19000, 42000, 25000, 28000, 34000]
dept                           [IT, IT, HR, HR, IT, HR, IT]
dtype: object

In [4]:
pd.Series(data['names'])

0     John
1      Tom
2      Rob
3    Harry
4     Jack
5     Jeff
6      Sam
dtype: object

In [5]:
pd.DataFrame(data)

   names  salary dept
0   John   45000   IT
1    Tom   48000   IT
2    Rob   19000   HR
3  Harry   42000   HR
4   Jack   25000   IT
5   Jeff   28000   HR
6    Sam   34000   IT